<header id="header" class="navbar navbar-static-top">
    <div class="navbar-header">
        <a type="button" id="button-menu" class="pull-left"> <i class="fa fa-indent fa-lg"></i>
        </a>
        <a href="" class="navbar-brand">
            <img src="__STATIC__/back/image/selflogo.png" alt="" title="" style="height: 30px;width: 150px;" />
        </a>
    </div>
    <ul class="nav pull-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="label label-danger pull-left">0</span> <i class="fa fa-bell fa-lg"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right alerts-dropdown">
                <li class="dropdown-header">用户信息</li>
                <li>
                    <a href="" style="display: block; overflow: auto;">
                        <span class="label label-warning pull-right">0</span>
                        已申请信息
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="label label-success pull-right">0</span>
                        待修改信息
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="label label-danger pull-right">0</span>
                        待审批信息
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">题目内容</li>
                <li>
                    <a href="">
                        <span class="label label-success pull-right">0</span>
                        报错题目
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">驾校信息</li>
                <li>
                    <a href="">
                        <span class="label label-danger pull-right">0</span>
                        待审核信息
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="label label-danger pull-right">0</span>
                        待修改信息
                    </a>
                </li>
                
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-life-ring fa-lg"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                    程序名称
                    <i class="fa fa-shopping-cart"></i>
                </li>
                <li>
                    <a href="http://localhost/shop/public/back/site/index.html" target="_blank">驾校答题管理系统</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                    帮助
                    <i class="fa fa-life-ring"></i>
                </li>
                <li>
                    <a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=846743211&website=www.oicqzone.com" target="_blank">技术支持-陆梓涵</a>
                </li>
                <li>
                    <a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=846743211&website=www.oicqzone.com" target="_blank">运营维护-陆梓涵</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{:url('admin/logout')}">
                <span class="hidden-xs hidden-sm hidden-md">注销</span>
                <i class="fa fa-sign-out fa-lg"></i>
            </a>
        </li>
    </ul>
</header>