<nav id="column-left" class="active">
    <div id="profile">
        <div>
            <!-- <i class="fa fa-opencart"></i>
          -->
            <img src="__STATIC__/back/image/avatar.png" style="width:100px; height: 60px;"></div>
        <div>
            <h4>{$Think.session.admin.username}</h4>
            <small>TracyJeffrey</small>
        </div>
    </div>
    <ul id="menu">
        <li id="dashboard">
            <a href="http://localhost/shop/public/back/site/index.html">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>管理首页</span>
            </a>
        </li>
        <li id="catalog">
            <a class="parent">
                <i class="fa fa-tags fa-fw"></i>
                <span>用户信息</span>
            </a>
            <ul>
                <li>
                    <a href="http://localhost/shop/public/back/admin/index.html">用户管理</a>
                </li>
            </ul>
        </li>
        <li id="extension">
            <a class="parent">
                <i class="fa fa-puzzle-piece fa-fw"></i>
                <span>题目内容</span>
            </a>
            <ul>
                <li>
                    <a href="http://localhost/shop/public/back/sku/index.html">题目</a>
                </li>
            </ul>
        </li>
        <li id="reports">
            <a class="parent">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                <span>驾校管理</span>
            </a>
                    <ul>
                        <li>
                            <a href="http://localhost/shop/public/back/attribute/index.html">驾校信息管理</a>
                        </li>
                    </ul>

   
                </li>
            </ul>
        </li>
    </ul>

</nav>